<!--<ul *ngFor="let item of temp">-->
  <!--<li>-->
    <!--<b>temp: </b>{{item.temp}}-->
  <!--</li>-->
<!--</ul>-->

<div>
<app-temperature [chartData]="chartData"
                 [datesFrom]="datesFrom"
                 [datesTo]="datesTo"
                 [calculateChartData]="calculateChartData"
                 [dates]="dates"
                 [cities]="cities"
                 [dataWeather]="dataWeather"
                 [setDataWeather]="setDataWeather"
                 [weatherService]="weatherService"


></app-temperature>
</div>
<br>
<div>
<app-humidity [chartData]="chartData"
              [datesFrom]="datesFrom"
              [datesTo]="datesTo"
              [calculateChartData]="calculateChartData"
              [dates]="dates"
              [cities]="cities"
              [dataWeather]="dataWeather"
              [setDataWeather]="setDataWeather"
              [weatherService]="weatherService"
></app-humidity>
</div>
<div>
    <app-pressure [chartData]="chartData"
                  [datesFrom]="datesFrom"
                  [datesTo]="datesTo"
                  [calculateChartData]="calculateChartData"
                  [dates]="dates"
                  [cities]="cities"
                  [dataWeather]="dataWeather"
                  [setDataWeather]="setDataWeather"
                  [weatherService]="weatherService"
    >

    </app-pressure>
</div>
<div>
    <app-wind [chartData]="chartData"
              [datesFrom]="datesFrom"
              [datesTo]="datesTo"
              [calculateChartData]="calculateChartData"
              [dates]="dates"
              [cities]="cities"
              [dataWeather]="dataWeather"
              [setDataWeather]="setDataWeather"
              [weatherService]="weatherService"

    >

    </app-wind>
</div>