<!--<ul *ngFor="let item of temp">-->
  <!--<li>-->
    <!--<b>temp: </b>{{item.temp}}-->
  <!--</li>-->
<!--</ul>-->

<div>
<app-temperature [chartData]="chartData"
                 [datesFrom]="datesFrom"
                 [datesTo]="datesTo"
                 [calculateChartData1]="calculateChartData1"
                 [dates]="dates"
                 [cities]="cities"
                 [dataWeather]="dataWeather"
                 [setDataWeather]="setDataWeather"
                 [weatherService]="weatherService"


></app-temperature>
</div>
<br>
<div>
<app-humidity [chartData]="chartData"
              [datesFrom]="datesFrom"
              [datesTo]="datesTo"
              [calculateChartData1]="calculateChartData1"
              [dates]="dates"
              [cities]="cities"
              [dataWeather]="dataWeather"
              [setDataWeather]="setDataWeather"
              [weatherService]="weatherService"
></app-humidity>
</div>